<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Example App</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/main"
          >หน้าหลัก</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="main/product">สินค้าในร้าน</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/main/sell-product">ขายสินค้า</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/main/manage-data">จัดการข้อมูลในระบบ</a>
      </li>
    </ul>

    <span class="navbar-text">
      <a class="nav-link" href="/"><b>Logout</b></a>
    </span>
  </div>
</nav>
